@import "https://rsms.me/inter/inter.css";

@tailwind base;
@tailwind components;

@tailwind utilities;

@font-face {
  font-family:"widescreen-mixed";
  src:url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:auto;font-style:normal;font: weight 100px;;font-stretch:normal;
}

.dashboard-primary-panel {
  @apply w-full sm:w-8/12 bg-gray-300 p-2;
  transition: width 0.5s ease;
}

.dashboard-secondary-panel {
  @apply sm:w-4/12 bg-gray-200 p-2; 
  @apply hidden sm:block border-l border-gray-400;
  background-color: #eaeaea;
  transition: width 0.5s ease;
}

.portfolio-primary-panel {
  @apply w-full h-full bg-gray-300 p-2 border-r border-gray-400;
}

.portfolio-default-primary-panel {
  @apply w-full sm:w-8/12 bg-gray-300;
  transition: width 0.5s ease;
}

.portfolio-secondary-panel {
  @apply sm:w-4/12 bg-gray-200 p-2; 
  @apply hidden sm:block border-gray-400;
  @apply bg-charcoal-400 text-gray-300;
  transition: width 0.5s ease;
}


.rdt_TableHeadRow {
  @apply font-mono bg-red-600;
  margin-right: 12px;
}

.rdt_TableRow {
  @apply font-mono bg-red-600 text-xs;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.outline-font {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  /* --font-factor: .059; */
  /* --font-line: .745; */
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 50%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 50%, transparent);
}
