.header {
  @apply flex flex-row content-center items-center; 
  @apply border-b border-gray-400;
  @apply text-gray-300;
  font-size: 1.2em;
}

.leftHeader {
  @apply w-8/12 p-2;
  background-color: #2b2b2b;
}

.rightHeader {
  @apply w-4/12 p-2;
  @apply flex justify-end;
  background-color: #404040;
}

.content {
  @apply flex content-center items-center;
  height: 3em;
}