.sidebar {
  @apply box-border border-r text-gray-500 h-auto sm:h-screen w-full sm:w-auto;

  /* max-width: max-content; */
  background-color: #151515;
  border-color: #2b2b2b;
  padding: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* @apply fixed sm:relative bottom-0 */
}

.icon {
  text-align: center;
  cursor: pointer;
  height: 3em;
  width: 3em;
  font-size: 1.2em;
  font-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 8px; */
  @apply mx-2 sm:mb-2 sm:mx-0
}


.active, .icon:hover {
  /* background-color: #404040; */
  @apply rounded-lg;
  background-color: #2b2b2b;
}