.sidebar {
  @apply box-border border-r text-gray-500 h-screen;

  max-width: max-content;
  background-color: #404040;
  border-color: #2b2b2b;
  padding: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  text-align: center;
  cursor: pointer;
  height: 3em;
  width: 3em;
  font-size: 1.2em;
  font-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8px;
}


.icon-selected,
.icon:hover {
  background-color: #2b2b2b;
  /* @apply bg-gray-400; */
}